body{
    color: #023047;
    text-align: center;
    margin:0;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Revalia', cursive;
    font-weight: bolder;
}
#hero{
    background-image: url("https://c1.wallpaperflare.com/preview/444/603/659/ho%E1%BA%B1ng-than-sesame-my-hometown.jpg");
    background-size: cover;
    padding: 10px 0 500px 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.text{
    color: #ffffff;
    margin-top: 300px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 30px;
    background:  #023047;
    font-weight: 300;
}
.para{
    color: #ffffff;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    background:  #023047;
    font-weight: 100;
    height: 100px;
    font-size: small;
}